* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap:60px;
    background-image: linear-gradient(to bottom, black, orange);
}
#navbar, #content, footer {
    width:100%;
}
button {
    padding: 12px 38px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgb(168, 169, 245);
    font-weight: 900;
    color:blue;
    letter-spacing: 2px;
    font-size: 1rem;
}
#navbar {
    display:flex;
    gap:5%;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: darkorange;
}
#content {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 55%;
    min-width: 300px;
    background-color: gold;
    border: white 3px solid;
    border-radius: 20px;
    margin: 0 auto;
    padding:1rem;
}
footer {
    background-color: black;
    min-height: 50px;
}
.img-container {
    display:flex;
    align-items: center;
    width: 80%;
}
img {
    max-width: 45%;
    border-radius: 16px;
    height: auto;
}
.about-text {
    padding: 0px 40px;
    font-size: 1.25rem;
}
.detail-text {
    font-size: 1.3rem;
}
.home-heading {
    font-size: 3.5rem;
}